@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Montserrat:wght@400;600&family=Space+Mono&display=swap');



.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "sidebar editor";
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid #BFBFBF;
  background-color: #eeeeee;
  height: 100vh;
}
.editor { 
  grid-area: editor;
  height: 100vh;
}

div.note-list:last-child { 
  border-bottom: 1px solid #BFBFBF;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F9F9;
  color: #262626;
  margin: 0;
  padding: 0;
}

.note-in-list {
  padding: .8em;
  border-top: 1px solid #BFBFBF;
  border-left: 4px solid #F9F9F9;
  background-color: #F9F9F9;
  font-weight: 600;
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note-in-list:hover {
  cursor: default;
}
.note-in-list * {
  pointer-events: none
}
.preview {
  font-size: .8em;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*.note-editor {
  width: 100%;

  padding: 0px 4px;
}*/
textarea.editor {
  font-family: 'Crimson Pro', serif;
  font-size: 1.3em;
  background-color: #F9F9F9;
  border: 0px solid #F9F9F9;
  padding: 1em 2em;
}
textarea.editor:focus {
  outline-width: 0;
}
.selected {
  background-color: #e9f3fe;
  border-left: 4px solid #89c2ff;
}
.code {
  font-family: 'Space Mono', monospace;
}

.three-dot-menu {
  position: absolute;
  color: #666666;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  /*border: 1px solid #BFBFBF;*/
  text-align: center;
  padding-top: 4px;

}
.three-dot-menu:hover {
  cursor: default;
}
.three-dot-menu-items {
  /*display: none;*/
  position: absolute;
  color: #666666;
  top: 40px;
  right: 10px;
  text-align: right;
}
.three-dot-menu-items div {
  margin: 10px 3px;
}