@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Montserrat:wght@400;600&family=Space+Mono&display=swap');

[data-theme="light"] {
  --highlight-color: #e9f3fe;
  --highlight-color-background: #89c2ff;
  --font-color: #262626;
  --chill-font-color: #666666;
  --bg-color: #F9F9F9;
  --darker-bg-color: #eeeeee;
  --border-color: #BFBFBF;
}

[data-theme="dark"] {
  --highlight-color: #09488b;
  --highlight-color-background: #1988ff;
  --font-color: #e4e4e4;
  --chill-font-color: #8f8f8f;
  --bg-color: #333333;
  --darker-bg-color: #272727;
  --border-color: #494949;
}


a {
  color: var(--highlight-color-background);
}
.grid-container {
  display: grid;
  background-color: var(--bg-color);
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "sidebar editor";
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid var(--border-color);
  background-color: var(--darker-bg-color);
  height: 100vh;
  overflow: scroll;
}
.editor { 
  grid-area: editor;
  height: 100vh;
}
.note-list {
  
}
div.note-list:last-child { 
  border-bottom: 1px solid var(--border-color);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

.note-in-list {
  padding: .8em;
  border-top: 1px solid var(--border-color);
  border-left: 4px solid var(--bg-color);
  background-color: var(--bg-color);
  color: var(--font-color);
  font-weight: 600;
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note-in-list:hover {
  cursor: default;
}
.note-in-list * {
}
.preview {
  font-size: .8em;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*.note-editor {
  width: 100%;

  padding: 0px 4px;
}*/
textarea.editor {
  font-family: 'Crimson Pro', serif;
  font-size: 1.3em;
  color: var(--font-color);
  background-color: var(--bg-color);
  border: 0px solid var(--border-color);
  padding: 1em 2em;
  height: 100vh;
}
textarea.editor:focus {
  outline-width: 0;
}
.selected {
  background-color: var(--highlight-color);
  border-left: 4px solid var(--highlight-color-background);
}
.code {
  font-family: 'Space Mono', monospace;
}

.three-dot-menu {
  position: absolute;
  color: var(--chill-font-color);
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  /*border: 1px solid #BFBFBF;*/
  text-align: center;
  padding-top: 4px;

}

.three-dot-menu-items {
  /*display: none;*/
  position: absolute;
  color: var(--chill-font-color);
  top: 10px;
  right: 10px;
  text-align: right;
}
.three-dot-menu-items div {
  padding: 6px 0px;
}

button#create-note  {
  font-family: 'Montserrat', sans-serif;
  color: var(--chill-font-color);
  background-color: var(--bg-color);
  border: 0px solid var(--border-color);
  padding: 5px;
  width: 100%;
}
button#create-note:focus {
  outline-width: 0;
}

.markdown-preview-container {
  /*display: none;*/
  background-color: var(--darker-bg-color);
  /*opacity: 95%;*/
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.markdown-preview {
  background-color: var(--bg-color);
  font-family: 'Crimson Pro', serif;
  font-size: 120%;
  color: var(--font-color);
  margin: 0px auto 0px auto;
  padding: 2em 2em 2em 2em;
  /*position: absolute;*/
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  width: 60%;
  height: 100vh;
  z-index: 3;
}
#markdown-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
button#markdown-close {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--chill-font-color);
  border: 1px solid var(--border-color);
  padding: 5px;
}

.sidebar::-webkit-scrollbar {
  border: 3px;
  display: none;
}

.displaynone {
  display: none;
}
#banana {
  position: absolute;
  top: 0px;
  left: 13px;
}